services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./storage/qdrant_storage:/qdrant/storage
    restart: always

  app:
    build: .
    container_name: arxiv_fetcher
    ports:
      - "8001:8001"
    volumes:
      - ./storage:/app/storage
    environment:
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
      - PROMETHEUS_MULTIPROC_DIR=/tmp/prometheus_dir
    env_file:
      - .env
    depends_on:
      - qdrant
    restart: always
