arxiv==2.2.0
boto3>=1.40.34
dependency-injector>=4.48.2
fastapi==0.116.2
gunicorn>=23.0.0
loguru>=0.7.3
pre-commit>=4.3.0
prometheus-client>=0.23.1
pydantic>=2.11.9
pydantic-settings>=2.10.1
python-dateutil>=2.9.0.post0
python-multipart>=0.0.20
qdrant-client==1.15.1
starlette-context>=0.4.0
tqdm>=4.67.1
uvicorn==0.35.0
google-cloud-aiplatform==1.132.0
google-cloud-storage==3.7.0
grpcio_status==1.49.0rc1
aiofiles>=25.1.0
pymupdf>=1.23.0
apscheduler>=3.11.2
